@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --bg: #e3cec2;
    --pdx: 3em;
    --pdy: 1em;
    --accent: #c16b63;
    --accent1: #593f3b;
    --wh: white;
}

body {
    background-color: var(--bg);
    background-image: linear-gradient(to right top , #c16b632d, #c16b632d, rgba(0, 0, 0, 0.158));
    /* overflow: hidden; */
}


.audio {
    font-family: 'audiowide', sans-serif;
}

.orb {
    font-family: "orbitron", sans-serif;
  }

.roboto {
    font-family: "poppins", sans-serif;
}

.line {
    line-height: 1.1em;
}

.line1 {
    line-height: 2em;
}

.text {
    text-shadow: 0px 0px 0.01px black;
}

.text1 {
    text-shadow: 0px 0px 4px white;
}

.text2 {
    background-color: #31A24C;
}

.target .swiper-button-next, .target .swiper-button-prev {
    background-color: #593f3bc9;
    width: 50px;
    padding: 1em;
    height: 50px;
    border-radius: 50%;
    color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;
}

.target .swiper-button-next:hover, .target .swiper-button-prev:hover {
    background-color: #593f3ba2;
    box-shadow: 0px 0px 4px var(--wh);
    color: white;
    scale: 1.09;
}

.target .swiper-button-next:active, .target .swiper-button-prev:active {
    background-color: #593f3ba2;
    box-shadow: 0px 0px 4px var(--wh);
    color: white;
    scale: 0.9;
}

.hero2 .swiper-button-next, .hero2 .swiper-button-prev {
    display: none;
}

.target .swiper-pagination-bullet {
    background-color: white;
}

.hero2 .swiper-pagination-bullet {
    background-color: var(--accent);
    display: none;
}

.topic .swiper-button-next, .topic .swiper-button-prev {
    display: none;
}

.topic .swiper-pagination-bullet {
    background-color: white;
    /* display: none; */
}

.linear {
    background-image: linear-gradient(to right top , #c16b632d, white);
}
.linear1 {
    background-image: linear-gradient(to right top , #c16b632d, #c16b632d, rgba(0, 0, 0, 0.158));
}

/* styles.css */
.hide-scrollbar {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
  
.hide-scrollbar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.sms {
    flex-flow: column-reverse;
}

.notify {
    flex-flow: column;
}
  

@media (max-width: 640px) {
    

    .target .swiper-button-next, .target .swiper-button-prev {
        display: none;
    }

    body.no-scroll {
        overflow: hidden;
      }

      .hidenotify {
        z-index: 0;
      }
    
}
/* 
@media (min-height: px) {
    .height {
        height: 68vh;
    }
} */

.navAnime {

    animation-name: slide;
        animation-duration: 0.5s;

        @keyframes slide {
          0% {
            transform: translateY(-400px);
          }
        }
}