@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --bg: #e3cec2;
    --pdx: 3em;
    --pdy: 1em;
    --accent: #c16b63;
    --accent1: #593f3b;
    --wh: white;
}

body {
    background-color: var(--bg);
}

@font-face {
    font-family: "audio";
    src: url("../src//assets/Audiowide-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: "orb";
    src: url("../src/assets/Orbitron-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: "roboto";
    src: url("../src/assets/Poppins-Regular.ttf");
    font-display: swap;
}

body {
    /* overflow: hidden; */
}

.audio {
    font-family: audio;
}

.orb {
    font-family: "orb";
  }

.roboto {
    font-family: "roboto";
}

.line {
    line-height: 1.1em;
}

.text {
    text-shadow: 0px 0px 0.01px black;
}

.target .swiper-button-next, .target .swiper-button-prev {
    background-color: var(--bg);
    width: 50px;
    padding: 1em;
    height: 50px;
    border-radius: 50%;
    color: var(--accent);
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;
}

.target .swiper-button-next:hover, .target .swiper-button-prev:hover {
    background-color: #593f3ba2;
    box-shadow: 0px 0px 4px var(--wh);
    color: white;
    scale: 1.09;
}

.hero2 .swiper-button-next, .hero2 .swiper-button-prev {
    display: none;
}

.target .swiper-pagination-bullet {
    background-color: white;
}

.hero2 .swiper-pagination-bullet {
    background-color: var(--accent);
    display: none;
}

.topic .swiper-button-next, .topic .swiper-button-prev {
    display: none;
}

.topic .swiper-pagination-bullet {
    background-color: white;
    /* display: none; */
}

@media (max-width: 640px) {
    

    .target .swiper-button-next, .target .swiper-button-prev {
        display: none;
    }
}

.navAnime {

    animation-name: slide;
        animation-duration: 0.5s;

        @keyframes slide {
          0% {
            transform: translateY(-400px);
          }
        }
}